<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			<main class="list">
				{{ $disp := .Site.Params.homeDisplay }}
				<h1> Recent Projects </h1>
				{{ range first $disp (where .Site.RegularPages "Type" "in" "projects") }}
				<section class="list-item"  style="margin-left: 50px">
					<h2 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a><time> {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time></h2>
					<div class="description" style="font-size:0.8em">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary | truncate 200 }}
						{{ end }}
					</div>
					<a href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				<div style="margin-top:50px">
					<a href="/projects"> View All Projects → </a>
				</div>
				<h1> Recent Writings </h1>
				{{ range first $disp (where .Site.RegularPages "Type" "in" "writings") }}
				<section class="list-item"  style="margin-left: 50px">
					<h2 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a><time> {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time></h2>
					<div class="description" style="font-size:0.8em">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary | truncate 200 }}
						{{ end }}
					</div>
					<a href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				<div style="margin-top:50px">
					<a href="/writings"> View All Writings → </a>
				</div>
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
